SettingsAsset(
    game: (
        player: (
            torque_strength: 4.8,
            jump_strength: 6.0,
            friction: 0.9,
            density: 1.0,
            magnetism_deadzone: 0.5,
            magnetism_strength: 1.0,
            influence_radius: 5.0,
        ),
        camera: (
            controller_sensitivity: (3.0, 1.5),
            mouse_sensitivity: (5.0, 5.0),
            fov: 90,
            fov_multiplier_range: RangeInclusive( start: 1.2, end: 0.9 ),
            angle_range: RangeInclusive( start: 200, end: 270 ),
            distance: 7.0,
        )
    ),
    ui: (
        scene: (
            rotation_speed: 0.1,
        ),
        font: (
            base: 24,
            title_scale: 3,
            subtitle_scale: 2,
            body_scale: 1,
        )
    ),
    audio: (
        spatial_scale: 0.1,
        sfx_volume: 1.0,
    )
)